.sidebar {
    height:100%;
    /* background-color: rgb(218, 218, 218); */
    /* background-color: #1c1f2086; */
    background-image: url("https://images.unsplash.com/photo-1527769929977-c341ee9f2033?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    box-shadow: 1px 0px 7px rgba(0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}
.sidebar.open {
    transform: translateX(0);
}
.sidebar ul {
    height: 100%;
    /* list-style: none; */
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.sidebar li {
    color: #000000;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0.5rem 0;
}
.sidebar li:hover,
.sidebar li:active {
    color: #eeebeb;
}